{{> head }}

{{> navbar  }}
   
<div class="row">
    <div class="col-8">
        <h1>El Mundo</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, quis. Iusto id, doloribus totam labore quibusdam culpa cupiditate expedita animi magni. Omnis minima, recusandae dolore aut laborum dolorum ex numquam.
        </p>
    </div>
    <div class="col-4"></div>
    <img src="Style/img/Mundo.png" class="img-thumbnail">
</div>

{{> footers}}