{{> head }}

    {{> navbar  }}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome {{ capitalizar nombre }}</h1>
            <p class="lead">Esta es una Pagina web echa por NODE.JS.</p>
        </div>
    </div>
{{> footers}}